# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = Jesse Hansen
	email = twindagger@gmail.com
	excludesfile = /Users/jessehansen/.gitignore-global
	autocrlf = false
[user]
	name = Jesse Hansen
	email = twindagger@gmail.com
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[alias]
	ls = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --numstat
	lds = log --pretty=format:\"%C(yellow)%h\\\\ %ad%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --date=short
	ld = log --pretty=format:\"%C(yellow)%h\\\\ %ad%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --date=relative
	le = log --oneline --decorate
	filelog = log -u
	fl = log -u
	la = "!git config -l | grep alias | cut -c 7-"
	status = status -s
	st = status -s
	incoming = "!git remote update -p; git log ..@{u}"
	outgoing = log @{u}..
	in = incoming
	out = outgoing
	co = checkout
	unstage = reset HEAD --
	filelog = log -u
	fl = log -u
	f = "!git ls-files | grep -i"
	push-up = "!gitbranchname() { git symbolic-ref --short HEAD; }; gitpushupstream() { git push --set-upstream origin `gitbranchname`; }; gitpushupstream"
	push-tags = "!gitbranchname() { git symbolic-ref --short HEAD; }; gitpushtags() { git push origin `gitbranchname` --tags; }; gitpushtags"
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
